In [1]:
cd C:\Users\Aditya\Desktop\Comparative&RegulatoryGenomics\Vera\bigAss

C:\Users\Aditya\Desktop\Comparative&RegulatoryGenomics\Vera\bigAss

In [5]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 2208-479F

 Directory of C:\Users\Aditya\Desktop\Comparative&RegulatoryGenomics\Vera\bigAss

16-12-2020  16:30    <DIR>          .
16-12-2020  16:30    <DIR>          ..
24-11-2020  18:29         1,047,200 chat_bigass.docx
24-11-2020  00:44            71,865 GradedAssig.pdf
16-12-2020  16:30        28,762,152 interim_bbh_aol.tsv
16-12-2020  16:30        29,318,659 interim_bbh_loa.tsv
10-12-2020  20:36            14,051 report_AdityaBadola.docx
               5 File(s)     59,213,927 bytes
               2 Dir(s)  88,289,243,136 bytes free

# ORTHOLOGS

In [1]:
import pandas as pd
aol = pd.read_csv('interim_bbh_aol.tsv',sep="\t", header=None)
loa = pd.read_csv('interim_bbh_loa.tsv',sep="\t", header=None)

In [2]:
aol.columns=['query','subject','evalue']
loa.columns=['subject','query','evalue']

In [3]:
aol.head()

                 query                 subject         evalue
0  sp|P00630|PA2_APIME  tr|H3A0T4|H3A0T4_LATCH   6.220000e-24
1  sp|P00630|PA2_APIME  tr|H3BFR1|H3BFR1_LATCH   1.510000e-23
2  sp|Q2V0C9|CBS_APIME  tr|M3XKQ6|M3XKQ6_LATCH  2.980000e-166
3  sp|Q2V0C9|CBS_APIME  tr|H3ADZ0|H3ADZ0_LATCH  4.990000e-166
4  sp|Q2V0C9|CBS_APIME  tr|H3ADZ1|H3ADZ1_LATCH  6.500000e-164

In [4]:
loa.head()

                  subject                           query         evalue
0   sp|H3BCW1|ADPRS_LATCH  tr|A0A088AIP6|A0A088AIP6_APIME   1.110000e-77
1  tr|H2ZZD7|H2ZZD7_LATCH  tr|A0A088APW7|A0A088APW7_APIME  2.040000e-176
2  tr|H2ZZD7|H2ZZD7_LATCH  tr|A0A088A6V2|A0A088A6V2_APIME   2.020000e-39
3  tr|H2ZZD7|H2ZZD7_LATCH  tr|A0A088APN5|A0A088APN5_APIME   6.330000e-30
4  tr|H3AY86|H3AY86_LATCH  tr|A0A088AP68|A0A088AP68_APIME   0.000000e+00

In [5]:
#BLASTP HITS FOR APIS FOUND IN LATIMERIA
len(aol)

461973

In [6]:
#BLASTP HITS FOR LATIMERIA FOUND IN APIS
len(loa)

470804

In [52]:
aol.columns=['query','subject','evalue']
loa.columns=['subject','query','evalue']

In [22]:
#Filtered based on smallest e value
aol_besteval = aol.drop_duplicates(subset='query')
aol_besteval = aol_besteval.reset_index(drop=True)
aol_besteval.head()

                            query                 subject         evalue
0             sp|P00630|PA2_APIME  tr|H3A0T4|H3A0T4_LATCH   6.220000e-24
1             sp|Q2V0C9|CBS_APIME  tr|M3XKQ6|M3XKQ6_LATCH  2.980000e-166
2  tr|A0A087ZUF5|A0A087ZUF5_APIME  tr|H3B5Q5|H3B5Q5_LATCH   6.590000e-48
3  tr|A0A088AP68|A0A088AP68_APIME  tr|H3AY86|H3AY86_LATCH   0.000000e+00
4            sp|Q08169|HUGA_APIME  tr|H2ZSB5|H2ZSB5_LATCH   2.130000e-52

In [23]:
loa_besteval = loa.drop_duplicates(subset='query')
loa_besteval.head()

                  subject                           query         evalue
0   sp|H3BCW1|ADPRS_LATCH  tr|A0A088AIP6|A0A088AIP6_APIME   1.110000e-77
1  tr|H2ZZD7|H2ZZD7_LATCH  tr|A0A088APW7|A0A088APW7_APIME  2.040000e-176
2  tr|H2ZZD7|H2ZZD7_LATCH  tr|A0A088A6V2|A0A088A6V2_APIME   2.020000e-39
3  tr|H2ZZD7|H2ZZD7_LATCH  tr|A0A088APN5|A0A088APN5_APIME   6.330000e-30
4  tr|H3AY86|H3AY86_LATCH  tr|A0A088AP68|A0A088AP68_APIME   0.000000e+00

In [24]:
common_bbh = pd.merge(aol_besteval, loa_besteval, on='query', how='inner')

In [25]:
common_bbh.head()

,query,subject_x,evalue_x,subject_y,evalue_y
0,sp|P00630|PA2_APIME,tr|H3A0T4|H3A0T4_LATCH,6.220000e-24,tr|H3BFR1|H3BFR1_LATCH,2.990000e-23
1,sp|Q2V0C9|CBS_APIME,tr|M3XKQ6|M3XKQ6_LATCH,2.980000e-166,tr|H3ADZ1|H3ADZ1_LATCH,2.050000e-162
2,tr|A0A087ZUF5|A0A087ZUF5_APIME,tr|H3B5Q5|H3B5Q5_LATCH,6.590000e-48,tr|H3AIU9|H3AIU9_LATCH,1.360000e-45
3,tr|A0A088AP68|A0A088AP68_APIME,tr|H3AY86|H3AY86_LATCH,0.000000e+00,tr|H3AY86|H3AY86_LATCH,0.000000e+00
4,sp|Q08169|HUGA_APIME,tr|H2ZSB5|H2ZSB5_LATCH,2.130000e-52,tr|H3A0D6|H3A0D6_LATCH,2.820000e-44

In [26]:
common_bbh['evalue'] = common_bbh[['evalue_x','evalue_y']].min(axis=1)

In [27]:
common_bbh.head()

,query,subject_x,evalue_x,subject_y,evalue_y,evalue
0,sp|P00630|PA2_APIME,tr|H3A0T4|H3A0T4_LATCH,6.220000e-24,tr|H3BFR1|H3BFR1_LATCH,2.990000e-23,6.220000e-24
1,sp|Q2V0C9|CBS_APIME,tr|M3XKQ6|M3XKQ6_LATCH,2.980000e-166,tr|H3ADZ1|H3ADZ1_LATCH,2.050000e-162,2.980000e-166
2,tr|A0A087ZUF5|A0A087ZUF5_APIME,tr|H3B5Q5|H3B5Q5_LATCH,6.590000e-48,tr|H3AIU9|H3AIU9_LATCH,1.360000e-45,6.590000e-48
3,tr|A0A088AP68|A0A088AP68_APIME,tr|H3AY86|H3AY86_LATCH,0.000000e+00,tr|H3AY86|H3AY86_LATCH,0.000000e+00,0.000000e+00
4,sp|Q08169|HUGA_APIME,tr|H2ZSB5|H2ZSB5_LATCH,2.130000e-52,tr|H3A0D6|H3A0D6_LATCH,2.820000e-44,2.130000e-52

In [28]:
common_bbh=common_bbh.reset_index(drop=True)
final_bbh = common_bbh[['query','subject_x','evalue']]
final_bbh.columns=['query','subject','evalue']

In [29]:
final_bbh.head()

                            query                 subject         evalue
0             sp|P00630|PA2_APIME  tr|H3A0T4|H3A0T4_LATCH   6.220000e-24
1             sp|Q2V0C9|CBS_APIME  tr|M3XKQ6|M3XKQ6_LATCH  2.980000e-166
2  tr|A0A087ZUF5|A0A087ZUF5_APIME  tr|H3B5Q5|H3B5Q5_LATCH   6.590000e-48
3  tr|A0A088AP68|A0A088AP68_APIME  tr|H3AY86|H3AY86_LATCH   0.000000e+00
4            sp|Q08169|HUGA_APIME  tr|H2ZSB5|H2ZSB5_LATCH   2.130000e-52

In [30]:
len(final_bbh)

11003

In [71]:
final_bbh.to_csv("common_BBH.tsv",sep='\t',index=False)

# PARALOGS

In [1]:
#Extract second most significant hit for inparalogs (not their own hits basically)

In [2]:
import pandas as pd

In [32]:
aoa = pd.read_csv('revised_inparalogs_apis.tsv',header=None,sep='\t')
lol = pd.read_csv('revised_inparalogs_latis.tsv',header=None,sep='\t')

In [3]:
aoa.head(n=10)

                       0                               1    2
0  sp|O18330|MRJP1_APIME           sp|O18330|MRJP1_APIME  0.0
1  sp|O18330|MRJP1_APIME           sp|O77061|MRJP2_APIME  0.0
2  sp|O18330|MRJP1_APIME  tr|A0A1Q1N6G0|A0A1Q1N6G0_APICA  0.0
3  sp|O18330|MRJP1_APIME          tr|Q6IMJ9|Q6IMJ9_APIME  0.0
4  sp|O18330|MRJP1_APIME  tr|A0A088AU27|A0A088AU27_APIME  0.0
5  sp|O18330|MRJP1_APIME  tr|A0A088AU26|A0A088AU26_APIME  0.0
6  sp|O18330|MRJP1_APIME          tr|Q6W3E3|Q6W3E3_APIME  0.0
7  sp|O18330|MRJP1_APIME  tr|A0A088AU21|A0A088AU21_APIME  0.0
8  sp|O18330|MRJP1_APIME          tr|Q3L632|Q3L632_APICA  0.0
9  sp|O18330|MRJP1_APIME          tr|D3Y5T0|D3Y5T0_APIME  0.0

In [4]:
aoa.head(n=10)

                       0                               1              2
0  sp|O18330|MRJP1_APIME           sp|O18330|MRJP1_APIME   0.000000e+00
1  sp|O18330|MRJP1_APIME           sp|O77061|MRJP2_APIME   0.000000e+00
2    sp|P01501|MEL_APIME          tr|I3RJI9|I3RJI9_APICA   5.140000e-46
3    sp|P01501|MEL_APIME             sp|P01501|MEL_APIME   5.140000e-46
4    sp|P00630|PA2_APIME          tr|B7UUK1|B7UUK1_APIME  2.680000e-126
5    sp|P00630|PA2_APIME             sp|P00630|PA2_APIME  2.680000e-126
6  sp|Q868G6|TACHY_APIME           sp|Q868G6|TACHY_APIME   0.000000e+00
7  sp|Q868G6|TACHY_APIME  tr|A0A088ACT0|A0A088ACT0_APIME   0.000000e+00
8    sp|Q2V0C9|CBS_APIME             sp|Q2V0C9|CBS_APIME   0.000000e+00
9    sp|Q2V0C9|CBS_APIME  tr|A0A088AVY2|A0A088AVY2_APIME   0.000000e+00

In [33]:
aoa.columns=['query','subject','evalue']
lol.columns=['query','subject','evalue']

In [34]:
aoa.columns=['query','subject','evalue']

In [35]:
min_aoa = aoa.groupby(['query','subject']).agg({'evalue': 'min'}).reset_index()
min_lol = lol.groupby(['query','subject']).agg({'evalue': 'min'}).reset_index()

In [8]:
min_aoa.head()

                   query                 subject         evalue
0   sp|A2VB89|BURS_APIME    sp|A2VB89|BURS_APIME  9.560000e-113
1  sp|A2VB90|PBURS_APIME   sp|A2VB90|PBURS_APIME  1.410000e-105
2   sp|A8CL69|PBAN_APIME    sp|A8CL69|PBAN_APIME  7.790000e-147
3   sp|A8CL69|PBAN_APIME  tr|C6YBD1|C6YBD1_APIME  7.790000e-147
4   sp|A8J4S9|TREA_APIME    sp|A8J4S9|TREA_APIME   0.000000e+00

In [9]:
aoa.head()

                   query                 subject         evalue
0  sp|O18330|MRJP1_APIME   sp|O18330|MRJP1_APIME   0.000000e+00
1  sp|O18330|MRJP1_APIME   sp|O77061|MRJP2_APIME   0.000000e+00
2    sp|P01501|MEL_APIME  tr|I3RJI9|I3RJI9_APICA   5.140000e-46
3    sp|P01501|MEL_APIME     sp|P01501|MEL_APIME   5.140000e-46
4    sp|P00630|PA2_APIME  tr|B7UUK1|B7UUK1_APIME  2.680000e-126

In [10]:
len(lol)

44423

In [11]:
len(aoa)

36722

In [37]:
#Remove self hits
final_aoa = min_aoa.drop(min_aoa[min_aoa['query']==min_aoa['subject']].index)
final_lol = min_lol.drop(min_aoa[min_lol['query']==min_lol['subject']].index)

C:\Users\Aditya\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
len(final_aoa)

15197

In [14]:
len(final_lol)

24910

In [39]:
final_aoa=final_aoa.reset_index()
final_lol=final_lol.reset_index()

In [40]:
final_aoa=final_aoa.drop('index',axis=1)
final_lol=final_lol.drop('index',axis=1)

In [19]:
final_aoa.head()

                   query                         subject         evalue
0   sp|A8CL69|PBAN_APIME          tr|C6YBD1|C6YBD1_APIME  7.790000e-147
1   sp|A8J4S9|TREA_APIME  tr|A0A088AUT8|A0A088AUT8_APIME   0.000000e+00
2  sp|A9ZSY2|TRET1_APILI  tr|A0A088AUA9|A0A088AUA9_APIME   0.000000e+00
3  sp|B2D0J4|VDPP4_APIME  tr|A0A088A1D0|A0A088A1D0_APIME   0.000000e+00
4   sp|B2D0J5|EST6_APIME  tr|A0A088AQ41|A0A088AQ41_APIME   0.000000e+00

In [20]:
final_lol.head()

                   query                 subject         evalue
0  sp|H3BCW1|ADPRS_LATCH  tr|H3BCW0|H3BCW0_LATCH   0.000000e+00
1   sp|O03166|NU2M_LATCH  tr|A1IHG8|A1IHG8_LATCH   0.000000e+00
2   sp|O03167|COX1_LATCH  tr|A1IHG9|A1IHG9_LATCH   0.000000e+00
3   sp|O03168|ATP8_LATCH  tr|A1IHH1|A1IHH1_LATCH   1.150000e-33
4   sp|O03169|ATP6_LATCH  tr|A1IHH2|A1IHH2_LATCH  4.040000e-147

In [21]:
final_aoa.to_csv('aoa_inparalogs.tsv',sep='\t',index=None)
final_lol.to_csv('lol_inparalogs.tsv',sep='\t',index=None)

# Calculating true number of paralogs

In [ ]:
#CLEAR OUT A->B and B->A relations
clear_lol=final_lol.loc[0]
for rec in range(len(final_lol)):
    q=final_lol['query'][rec]    
    results = final_lol[final_lol['subject'] == q]    
    if final_lol['subject'][rec] in str(results['query']):
        clear_lol.append(final_lol.loc[rec])
        count=count+1

In [ ]:
len(clear_lol)

In [98]:
count

17400

In [100]:
#NUMBER OF PARALOGS
len(final_lol)-count

7510

In [ ]:
#CLEAR OUT A->B and B->A relations
coun=0
clear_aoa=final_aoa.loc[0]
for rec in range(len(final_aoa)):
    q=final_aoa['query'][rec]    
    results = final_aoa[final_aoa['subject'] == q]    
    if final_aoa['subject'][rec] in str(results['query']):
        clear_aoa.append(final_aoa.loc[rec])
        coun=coun+1
coun

In [ ]:
len(clear_aoa)

In [101]:
#NUMBER OF PARALOGS
len(final_aoa)-coun

8571

# CO-ORTHOLOGS

In [42]:
#Lets see some co-orthologous sequence
#Read the orthologous file
common_bbh = pd.read_csv('common_BBH.tsv',sep='\t')

In [43]:
common_bbh.head()

                            query                 subject         evalue
0             sp|Q2V0C9|CBS_APIME  tr|M3XKQ6|M3XKQ6_LATCH  2.980000e-166
1  tr|A0A088AP68|A0A088AP68_APIME  tr|H3AY86|H3AY86_LATCH   0.000000e+00
2            sp|P0CY46|EGFR_APIME  tr|M3XK26|M3XK26_LATCH  1.810000e-153
3  tr|A0A087ZN12|A0A087ZN12_APIME  tr|H3AC93|H3AC93_LATCH  5.560000e-117
4  tr|A0A088AD26|A0A088AD26_APIME  tr|H3AMH7|H3AMH7_LATCH   7.460000e-37

In [44]:
common_bbh.columns=['query','Ortho_subject','Ortho_evalue']

In [45]:
#Finding some common nodes in aoa and the common hits between aol and loa
cortho_df = pd.merge(common_bbh, final_aoa,on='query').sort_values(by='Ortho_evalue')

In [52]:
len(cortho_df)

2674

In [54]:
cortho_df.head()

,query,Ortho_subject,Ortho_evalue,subject,evalue
2551,tr|A0A087ZUC3|A0A087ZUC3_APIME,tr|H2ZX08|H2ZX08_LATCH,1.570000e-180,tr|A0A088AC42|A0A088AC42_APIME,1.170000e-21
1997,tr|A0A088ASE3|A0A088ASE3_APIME,tr|H2ZWS8|H2ZWS8_LATCH,2.860000e-180,tr|A0A088AID6|A0A088AID6_APIME,1.220000e-30
311,tr|A0A0B4J2M4|A0A0B4J2M4_APIME,tr|H3AUP9|H3AUP9_LATCH,2.970000e-180,tr|V5RI72|V5RI72_SPIAP,1.720000e-43
3189,tr|A0A087ZZI8|A0A087ZZI8_APIME,tr|H3BEN3|H3BEN3_LATCH,9.040000e-180,tr|A0A088AMZ8|A0A088AMZ8_APIME,9.380000e-54
2915,tr|A0A088ASR1|A0A088ASR1_APIME,tr|H3B9P4|H3B9P4_LATCH,1.550000e-179,tr|A0A087ZW64|A0A087ZW64_APIME,2.020000e-132

In [ ]:
final_lol=clear_lol
final_aoa=clear_aoa

In [64]:
final_lol.columns=['query','Ortho_subject','evalue']

In [65]:
final_lol.head()

                   query           Ortho_subject         evalue
0  sp|H3BCW1|ADPRS_LATCH  tr|H3BCW0|H3BCW0_LATCH   0.000000e+00
1   sp|O03166|NU2M_LATCH  tr|A1IHG8|A1IHG8_LATCH   0.000000e+00
2   sp|O03167|COX1_LATCH  tr|A1IHG9|A1IHG9_LATCH   0.000000e+00
3   sp|O03168|ATP8_LATCH  tr|A1IHH1|A1IHH1_LATCH   1.150000e-33
4   sp|O03169|ATP6_LATCH  tr|A1IHH2|A1IHH2_LATCH  4.040000e-147

In [63]:
common_bbh.head()

                            query           Ortho_subject   Ortho_evalue
0             sp|Q2V0C9|CBS_APIME  tr|M3XKQ6|M3XKQ6_LATCH  2.980000e-166
1  tr|A0A088AP68|A0A088AP68_APIME  tr|H3AY86|H3AY86_LATCH   0.000000e+00
2            sp|P0CY46|EGFR_APIME  tr|M3XK26|M3XK26_LATCH  1.810000e-153
3  tr|A0A087ZN12|A0A087ZN12_APIME  tr|H3AC93|H3AC93_LATCH  5.560000e-117
4  tr|A0A088AD26|A0A088AD26_APIME  tr|H3AMH7|H3AMH7_LATCH   7.460000e-37

In [67]:
#Finding true number of orthologs by extracting the inparalogs of lol and aol
lati_cortho_df = pd.merge(common_bbh, final_lol,on='Ortho_subject').sort_values(by='Ortho_evalue')

In [69]:
len(lati_cortho_df)

6283

In [46]:
#Finding co-orthologs that have very low evalue for both orthology and paralogy
cortho_df = cortho_df[cortho_df['Ortho_evalue']!=0]

In [47]:
cortho_df.head()

,query,Ortho_subject,Ortho_evalue,subject,evalue
2551,tr|A0A087ZUC3|A0A087ZUC3_APIME,tr|H2ZX08|H2ZX08_LATCH,1.570000e-180,tr|A0A088AC42|A0A088AC42_APIME,1.170000e-21
1997,tr|A0A088ASE3|A0A088ASE3_APIME,tr|H2ZWS8|H2ZWS8_LATCH,2.860000e-180,tr|A0A088AID6|A0A088AID6_APIME,1.220000e-30
311,tr|A0A0B4J2M4|A0A0B4J2M4_APIME,tr|H3AUP9|H3AUP9_LATCH,2.970000e-180,tr|V5RI72|V5RI72_SPIAP,1.720000e-43
3189,tr|A0A087ZZI8|A0A087ZZI8_APIME,tr|H3BEN3|H3BEN3_LATCH,9.040000e-180,tr|A0A088AMZ8|A0A088AMZ8_APIME,9.380000e-54
2915,tr|A0A088ASR1|A0A088ASR1_APIME,tr|H3B9P4|H3B9P4_LATCH,1.550000e-179,tr|A0A087ZW64|A0A087ZW64_APIME,2.020000e-132

In [42]:
cortho_df=cortho_df.sort_values(by=['evalue'])

In [43]:
cortho_df.head()

,query,Ortho_subject,Ortho_evalue,subject,evalue
91,tr|A0A088AAH6|A0A088AAH6_APIME,tr|H3AY93|H3AY93_LATCH,2.730000e-44,tr|A0A088AAH3|A0A088AAH3_APIME,0.0
3383,tr|A0A088A5L6|A0A088A5L6_APIME,tr|H3AG34|H3AG34_LATCH,3.900000e-73,tr|A0A087ZYK6|A0A087ZYK6_APIME,0.0
3542,tr|A0A087ZYF3|A0A087ZYF3_APIME,tr|H3A4W8|H3A4W8_LATCH,2.810000e-26,tr|A0A088A5S7|A0A088A5S7_APIME,0.0
9,tr|A0A6C0W2J3|A0A6C0W2J3_APIME,sp|O03174|NU5M_LATCH,6.170000e-69,tr|A0A1X9WE25|A0A1X9WE25_APIME,0.0
1614,tr|A0A088AS96|A0A088AS96_APIME,tr|H3B1I9|H3B1I9_LATCH,1.210000e-40,tr|A0A088AS51|A0A088AS51_APIME,0.0

CHOOSING RANDOM PROTEIN IN THIS LIST FOR FURTHER ANALYSIS

In [47]:
#I am choosing this one
cortho_df[cortho_df['Ortho_subject']=="tr|H3A561|H3A561_LATCH"]

,query,Ortho_subject,Ortho_evalue,subject,evalue
221,tr|A0A088AAD1|A0A088AAD1_APIME,tr|H3A561|H3A561_LATCH,2.010000e-179,tr|A0A088ACS2|A0A088ACS2_APIME,5.700000e-88

In [48]:
len(cortho_df)

2674

In [49]:
cortho_df.to_csv('corthologs.tsv',sep='\t',index=None)